
*{
  margin: 0;
  padding: 0;
}
h1.t{
  color: black !important;
    font-size: 3vw; /* Specify font size unit */
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    padding-top: 1.5vw;
    padding-left: 4vw;
}
.guide-container{
 
    width: 100vw;
    height: 100vh;
    background-color: rgba(126, 125, 125, 0.1);
}
.guide-image{
    padding-top: 2vwvh;
    width: 80vw;
    height: 32vW;
    margin-left: 6vw;
}

button.nextbtn  {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 60vw;
    border: 2px solid rgb(42, 215, 210);
}
  
  button.nextbtn:hover {
    background-color: rgb(42, 215, 210);
    box-shadow: 0px 15px 20px rgb(42, 215, 210,0.4);
    color: #fff;
    transform: translateY(-7px);
  }
/*button.prvsbtn {
   
    width: 8.5vw;
    height: 7vh;
    border-radius: 10%;
    border-width: 2vw;
    border-color: rgb(42, 215, 210);
}*/
button.prvsbtn {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border: 2px solid rgb(42, 215, 210);
  }
  
  button.prvsbtn:hover {
    background-color: rgb(42, 215, 210);
    box-shadow: 0px 15px 20px rgb(42, 215, 210,0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button.prvsbtn:active {
    transform: translateY(-1px);
  }
.navigation-buttons{
    margin-left: 5vw;
    margin-top: 1.5vw;
    width: 100vw;
}