*{
    margin: 0;
    padding: 0;
}

h1.titre{
    color: black;
    font-size: 6vh; /* Specify font size unit */
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    margin-left: 2.5vw;
    padding-top: 7vh;    
}
.home-container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(5, 5, 5, 0.03)    ;
    
}
.contenu-container{
    display: flex;
    align-items: center;
    height: 80vh;
    width: 100vw;
    
}
img.design{
    width: 50vw;
    height: 73vh;
    margin-top: 3vh;
    margin-left: 1vw;
    
}
.button-container{
    margin-top: 1vh;
    margin-left: 8vw;
}
button.hover-button{
    border-radius: 100%;
    margin-right: 1.5vw;
    width: 2vw;
    height: 2vw;
    border-width: 20px;
    background-color: rgba(42, 215, 210, 0.3);;
    border-color: #2AD7D2;
    margin-left: 0.8vw;
    margin-top: 1.5vw;
}
button.hover-button:hover{
    background-color: #2AD7D2;
}
.text-container{
    margin-top: 4vw;
    width: 35vw;
    margin-left: 5vw;
}
p.message{
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Pontano Sans', sans-serif;
   
}
p.description {
    font-size: 1.4vw;
    font-family: 'Pontano Sans', sans-serif;
    font-weight:100;
}
.scrolling-text{
    margin-bottom: 3vh;
}
button.btncreer{
    padding: 1.3em 3em;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 12px;
    margin-top: 3vw;
    margin-left: 6vw;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: rgb(42, 215, 210);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    
    border: 2px solid rgb(42, 215, 210);
}
button.btncreer:hover {
    background-color: rgb(42, 215, 210);
    box-shadow: 0px 15px 20px rgb(42, 215, 210,0.4);
    color: #fff;
    transform: translateY(-7px);
  }